<div class="container">
  <h2>Basit Eposta Gönderme Uygulaması</h2>
  <div class="form-container">
    <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
      <div class="form-group">
        <label for="to">Alıcı</label>
        <input
          type="email"
          class="form-control"
          id="to"
          formControlName="to"
          placeholder="test@test.com"
        />
      </div>
      <div class="form-group">
        <label for="subject">Konu</label>
        <input
          type="text"
          class="form-control"
          id="subject"
          formControlName="subject"
          placeholder="E-posta konusu"
        />
      </div>
      <div class="form-group">
        <label for="body">İçerik</label>
        <textarea
          class="form-control"
          id="body"
          rows="10"
          formControlName="body"
          placeholder="E-posta içeriği"
        ></textarea>
      </div>
      <button
        type="submit"
        class="btn btn-primary mt-2"
        [disabled]="!emailForm.valid"
      >
        Gönder
      </button>
    </form>
  </div>
</div>

<router-outlet></router-outlet>
